<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNnhid2prZnp0aXBndHd6aWFsdXFua2NiY2s1d2U5YWtvcmNmdHMzeSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MXlcX7eS6noYM/giphy.gif" alt="Computer man" style="display: block; margin: 0 auto; width:100px;height:100px;">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
