<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbGJsNXU1dGt0bXprenBwM3NoeGd6eXBjYXRvd2lvd2FtbWU5ejZwcyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/MXlcX7eS6noYM/giphy.gif" alt="Computer man" style="width:249px;height:150px;">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
