<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic" rel="stylesheet" type="text/css">
<img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExb2NucWkxenhjM25veWlydHltaTc4OWR0NWFuNG84OTJoN2Y3M3R5dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Ws6T5PN7wHv3cY8xy8/giphy.gif" alt="Computer man" style="width:48px;height:48px;">
<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
